body
{
    font-family: Helvetica, sans-serif;
}

nav
{
    width:300px;
    vertical-align: top;
}

section
{
    clear: both;
    border:2px solid blue;
    margin-top:50px;
    vertical-align: top;
}

a
{
    display:block;
}

strong
{
    background-color:red;/* Fond rouge */
    color:yellow;/* Texte de couleur jaune */
}


em
{
    font-weight: bold;
    font-size: 1.2em;
    text-align: right;
}



footer
{
    background-color: rgb(189, 184, 184);
    border-width: medium;
    border-style: dashed;
    border-radius: 10px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}


td
{
    border: solid 1px white;
}

h1, h2
{
    text-align: center;
}

.dropbtn {
    background-color:transparent;
    border: none; 
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 320px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 1em;
}
  
.dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover 
{
    background-color: #2e86c1;
}
    
.dropdown:hover .dropbtn 
{
    background-color:#2e86c1;
}

.showit 
{
    display: block;
}
  

.compile_table
{
    margin-left: 60px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.compile_table td
{
    margin-left: 20px;
    margin-bottom: 10px;
    border: solid 1px white;
    min-width: 150px;
    text-align: center;
}

.test_table
{
    margin-left: 60px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.test_table td
{
    margin-left: 20px;
    margin-bottom: 10px;
    border: solid 2px white;
    /* min-width: 150px; */
    text-align: center;
}

.test_sub_table
{
    /* margin-left: 10px; */
    margin-bottom: 10px;
    margin-top: 10px;
}

.test_sub_table td
{
    /* margin-left: 20px;
    margin-bottom: 10px; */
    border: solid 1px white;
    /* min-width: 150px; */
    text-align: left;
}

.test_sub_table .build_level
{
    background-color: #96cdff;
}


.test_sub_table .algo_level
{
    background-color: #a1d3ff;
}

.test_sub_table .config_level
{
    background-color: #b3dafd;
}

.test_sub_table .file_level
{
    background-color: #c2e1fd;
}


.split 
{
    height: 100%;
    width: 50%;
    position: absolute;
}
  
/* Control the left side */
.left 
{
    left: 0;
}
  
/* Control the right side */
.right 
{
    right: 0;
}
  
.compile_table_row.hide
{
    display: none;
}

.compile_table_row.show
{
    display: "";
}

.test_table_row.hide
{
    display: none;
}

.test_table_row.show
{
    display: "";
}
  
.table_jz
{
    border: solid 0.2px black;
    margin: 20px;
}

.table_jz.hide
{
    display: none;
}

.table_jz.show
{
    display: "";
}
  

.table_jz td
{
    border: solid 0.1px white;
}

.table_irene
{
    border: solid 0.2px black;
    margin: 20px;
}
  
.table_irene.hide
{
    display: none;
}

.table_irene.show
{
    display: "";
}

.table_irene td
{
    border: solid 0.1px white;
}
